.grow {
  transition: all 0.25s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  background-color: #efefef;
  width: 100vw;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

@media only screen and (min-width: 1201px) {
  .navigation {
    top: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    height: 10vh;
    width: 90vw;
    justify-content: end;
  }
  .navigation__container__link {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  .navigation__container__link:hover {
    box-shadow: 0px 0px 2px rgb(179, 179, 179);
    color: rgb(64, 172, 255);
    border-radius: 5px;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 65vh;
  }
  .title__box {
    margin: 10px;
    padding: 10px;
  }
  .title__box--name {
    text-align: center;
    width: 50%;
    font-size: 35px;
  }
  .title__box--name-header {
    font-family: "Righteous", cursive;
  }
  .title__box--avatar {
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
  .break {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 25vh;
    width: 90vw;
  }
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .about__title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 100%;
    width: 30vw;
  }
  .about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 70vw;
  }
  .highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .highlight__item {
    margin: 10px;
    padding: 10px;
  }
  .highlight__title {
    color: rgb(64, 172, 255);
    width: 20%;
  }
  .highlight__content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: start;
    width: 50%;
  }
  .highlight__content__item {
    margin: 10px;
    padding: 10px;
  }
  .highlight__content__item--1 {
    text-align: center;
  }
  .highlight__content__item img {
    width: 100px;
    height: 100px;
  }
  .project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }
  .project__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project__gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
  }
  .project__gallery__item {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    width: 20%;
    height: 70%;
  }
  .gallery__content {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 80%;
  }
  .gallery__content img {
    width: 100px;
    height: 100px;
  }
  .gallery__link {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .gallery__link a {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(29, 90, 212);
    border-radius: 5px;
  }
  .gallery__link a:hover {
    background-color: rgb(0, 85, 255);
  }
  .tech {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: white;
  }
  .tech__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech__gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
  }
  .tech__gallery__item {
    margin: 10px;
    padding: 10px;
  }
  .tech__gallery__item--1:hover {
    content: url("https://cdn-icons-png.flaticon.com/512/2305/2305941.png");
  }
  .tech__gallery__item--2:hover {
    content: url("https://cdn-icons-png.flaticon.com/512/2305/2305903.png");
  }
  .tech__gallery__item--3:hover {
    content: url("https://cdn-icons-png.flaticon.com/512/2305/2305963.png");
  }
  .tech__gallery__item--4:hover {
    content: url("https://cdn-icons-png.flaticon.com/512/2305/2305992.png");
  }
  .tech__gallery__item--5:hover {
    content: url("https://cdn-icons-png.flaticon.com/512/2306/2306022.png");
  }
  .tech__gallery__item--6:hover {
    content: url("https://cdn-icons-png.flaticon.com/512/2305/2305897.png");
  }
  .tech__gallery img {
    width: 200px;
    height: 200px;
  }
  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 2px rgb(179, 179, 179);
  }
  .footer_title {
    width: 10vw;
  }
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    justify-content: end;
    width: 50vw;
  }
  .footer__container__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  .footer__container__item-1 {
    width: 50px;
    height: 50px;
  }
}
