@use "./partials/mixins";
@use "./partials/variables";

body {
    @include mixins.standard-layout();
    flex-direction: column;
    font-family: variables.$link-font;
    //background-color: #efefef;
    width: 100vw;
    overflow-x: hidden; //Hide unwanted things
    margin: 0px;
    padding: 0px;   
}

@include mixins.monitors {
    .navigation {
        top: 0;
        position: sticky;
        @include mixins.standard-layout;
        font-weight: bolder;
        height: 10vh;
        width: variables.$width-monitor;
        justify-content: end;
        &__container {
            &__link {
                @include mixins.standard-spacing;
                text-decoration: none;
                color: black;

                &:hover {
                    box-shadow: 0px 0px 2px  rgb(179, 179, 179);
                    color: rgb(64, 172, 255);
                    border-radius: 5px;
                }
            }
        }
    }

    .title {
        @include mixins.standard-layout;
        width: variables.$width-monitor;
        height: 65vh;
        &__box {
            @include mixins.standard-spacing; 
            &--name {
                text-align: center;  
                width: 50%;
                font-size: 35px;
                
                &-header{
                    font-family: variables.$name-font;
                }
            }
            &--avatar {
                border-radius: 50%;
                width: variables.$md;
                height: variables.$md;
                
        }
        }
    }

    .break {
        @include mixins.standard-layout;
        justify-content: space-between;
        height: 24vh;
        width: variables.$width-monitor;
    }


    .about {
        @include mixins.standard-layout();
        width: 100vw;
        height: 100vh;
        //flex-direction: column;
        //background-color: white;    
        &__title {
            @include mixins.standard-layout;
            color: white;
            height: 100%;
            width: 40%;
            margin: 0px;
            & h1 {
                @include mixins.standard-spacing;
                @include mixins.standard-layout;
                width: 50%;
                height: 50%;
                background-color: black;
                border-radius: 50%;
            }
            
        }

        &__container {
            @include mixins.standard-layout;
            flex-direction: column;
            height: 100%;
            width: 60%;
            
            &__item {
                @include mixins.standard-layout;                
            }
        }
    }
    
    .highlight {
       // @include mixins.standard-layout;
        @include mixins.standard-spacing;
        padding: 20px;
        width: 100%;
       

        &__title {
            @include mixins.standard-layout;
            width: 30%;
            height: 100%;
            color:rgb(64, 172, 255);
           
        }
        &__content {
            @include mixins.standard-layout;
            width: 70%;
            height: 100%;
            justify-content: space-evenly;
            //background-color: white;
            &__item {
                padding: 10px;
                
                &--1 {
                    text-align: center;
                    
                }

                & img {
                    width: 100px;
                    height: 100px;
                }
            }
    }
    }

    @include mixins.grow-effect;

    .tech {
        @include mixins.standard-layout;
        flex-direction: column;
        width: 100vw;
        height: 50vh;
        background-color: white;

        &__title {
            @include mixins.standard-layout;
            background-color: rgb(64, 172, 255);
            color: white;
            height: 100%;
            margin: 0px;
            width: 30%;
        }

        &__gallery {
            @include mixins.standard-layout;
            flex-wrap: wrap;
            height: 100%;
            width: 30%;
            background-color: white;
            justify-content: space-around;
            &__item {
                @include mixins.standard-spacing;
            }

            & img {
                width: 100px;
                height: 100px;
            }
        }
    }
    .footer {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0px 0px 2px  rgb(179, 179, 179); 
        &_title {
            width: 10vw;
        }

        &__container {
            @include mixins.standard-layout;
            @include mixins.standard-spacing;
            justify-content: end;
            width: 50vw;
            &__item {
                @include mixins.standard-layout;
                flex-direction: column;
                padding:10px;
                &-1 {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}   
  

    



  