@use "./partials/mixins";
@use "./partials/variables";
@include mixins.grow-effect;

html {
    scroll-behavior: smooth;
}

body {
    @include mixins.standard-layout();
    flex-direction: column;
    font-family: variables.$link-font;
    background-color: #efefef;
    width: 100vw;
    overflow-x: hidden; //Hide unwanted things
    //margin: 0px;
    //padding: 0px;

    @include mixins.tablet-landscape {
        font-size: small;
    }
    @include mixins.tablet {
        font-size: smaller;
    }
    @include mixins.phones {
        font-size: x-small;
    }
}

.navigation {
    top: 0;
    position: sticky;
    @include mixins.standard-layout;
    font-weight: bolder;
    height: 10vh;
    width: variables.$width-monitor;
    justify-content: end;
    &__container {
        &__link {
            @include mixins.standard-spacing;
            text-decoration: none;
            color: black;

            &:hover {
                box-shadow: 0px 0px 2px  rgb(179, 179, 179);
                color: rgb(64, 172, 255);
                border-radius: 5px;
            }
        }
    }

    

}

.title {
    @include mixins.standard-layout;
    width: variables.$width-monitor;
    height: 65vh;
    &__box {
        @include mixins.standard-spacing;
        
        &--name {
            text-align: center;  
            width: 50%;
            @include mixins.monitors {
                font-size: 35px;
            }
            @include mixins.laptop {
                font-size: 30px;
            }
            @include mixins.tablet-landscape {
                font-size: 25px;
            }
            @include mixins.tablet {
                font-size: 20px;
            }
            @include mixins.phones {
                font-size: 15px;
            }
            
            &-header{
                font-family: variables.$name-font;
            }
        }
        &--avatar {
            
            border-radius: 50%;
            @include mixins.monitors {
                width: variables.$md;
                height: variables.$md;
            }
            
            @include mixins.laptop {
                width: variables.$sm;
                height: variables.$sm;
            }

            @include mixins.tablet-landscape {
                width:  variables.$xs; 
                height: variables.$xs;
            }

            @include mixins.tablet {
                width: variables.$xxs;
                height: variables.$xs;
            }
            @include mixins.phones {
                width: variables.$xs;
                height: variables.$xs;
            }
            
        }

    }
    @include mixins.tablet {
        @include mixins.standard-layout;
        flex-direction: column-reverse;
    }
    @include mixins.phones {
        @include mixins.standard-layout;
        flex-direction: column-reverse;
    }
}

.break {
    @include mixins.standard-layout;
    justify-content: space-between;
    height: 25vh;
    width: variables.$width-monitor;
}


.about {
    @include mixins.standard-layout();
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    
    &__title {
        @include mixins.standard-layout;
        width: 100%;
        height: 10%;
        border-bottom: 1px solid rgb(227, 227, 227);
    }
    &__container {
        @include mixins.standard-layout;
        @include mixins.standard-spacing;   
        flex-direction: column;
    }


}

.highlight {
    @include mixins.standard-layout;
    @include mixins.standard-spacing;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    
    @include mixins.tablet {
        flex-direction: column;
    }
    @include mixins.phones {
        flex-direction: column;
    }

    &__title {
        @include mixins.standard-layout;
        color:rgb(64, 172, 255);
        width: 30%;
    }
    &__content {
        @include mixins.standard-layout;
        justify-content: start;
        width: 70%;

        @include mixins.tablet {
           justify-content: space-around;
           width: 90%;
        }
        @include mixins.phones {
            justify-content: space-around;
            width: 90%;
        }

        &__item {
            @include mixins.standard-spacing; //Can't get rid
            &--1 {
                text-align: center;
            }

            & img {
                width: 100px;
                height: 100px;

                @include mixins.tablet-landscape {
                    width:  70px; 
                    height: 70px;
                }
    
                @include mixins.tablet {
                    width:  50px; 
                    height: 50px;
                }
                @include mixins.phones {
                    width:  30px; 
                    height: 30px;
                }
            }
        }
}
}

.project {
    @include mixins.standard-layout;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    &__title {
        @include mixins.standard-layout;
        @include mixins.standard-spacing;
        width: 100%;

        border-bottom: 1px solid rgb(227, 227, 227);
    }

    &__gallery {
        @include mixins.standard-layout;
        height: 100%;

        @include mixins.tablet-landscape {
            flex-direction: column;
        }

        @include mixins.tablet {
            flex-direction: column;
        }
        @include mixins.phones {
            flex-direction: column;
        }
        
    }
}

.gallery {
    @include mixins.standard-spacing;
    display: flex;
    flex-direction: column;

    
    background-color: white; 
   
    border-radius: 5px;
    width: 20%;
    height: 60%;

    @include mixins.tablet-landscape {
        flex-direction: row;
        justify-content: center;
        width: 90%;
        height: auto;
    }

    @include mixins.tablet {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    @include mixins.phones {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    &__content {
        @include mixins.standard-spacing;
        display: flex;
        flex-direction: column;

        @include mixins.monitors {
            height: 80%;
        }

        @include mixins.laptop {
            height: 80%;
        }

        @include mixins.tablet-landscape {
            width: 60%;
        }
    
        @include mixins.tablet {
            width: 60%;

        }
        @include mixins.phones {
            width: 60%;
        }

        & img {
            width: 100px;
            height: 100px;

            @include mixins.tablet-landscape {
                width:  70px; 
                height: 70px;
            }

            @include mixins.tablet {
                width:  50px; 
                height: 50px;
            }
            @include mixins.phones {
                width:  30px; 
                height: 30px;
            }
        }

        & p {
            text-align: justify;
            overflow: hidden;
        }
    }
    &__link {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-wrap: wrap;

        @include mixins.tablet-landscape {
            width: 10%;
            justify-content: center;
        }
    
        @include mixins.tablet {
            width: 10%;
            justify-content: center;

        }
        @include mixins.phones {
            width: 10%;
            justify-content: center;
        }

        & a{
            @include mixins.standard-spacing;
            text-decoration: none;
            color: white;
            background-color: rgb(29, 90, 212);
           
            border-radius: 5px;

            
        }

        & a:hover {
            background-color: rgb(0, 85, 255);
        }

    }
}



.tech {
    @include mixins.standard-layout();
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    //background-color: white;
    &__item {
        @include mixins.standard-layout;
    }

    &__gallery {
        @include mixins.standard-layout;
        flex-wrap: wrap;
        justify-content: space-around;
        border-radius: 5px;
        &__item {
            @include mixins.standard-spacing;
            
            &--1:hover {
                content: url("https://cdn-icons-png.flaticon.com/512/2305/2305941.png");
            }
            &--2:hover {
                content: url("https://cdn-icons-png.flaticon.com/512/2305/2305903.png");
            }
            &--3:hover {
                content: url("https://cdn-icons-png.flaticon.com/512/2305/2305963.png");
            }
            &--4:hover {
                content: url("https://cdn-icons-png.flaticon.com/512/2305/2305992.png");
            }
            &--5:hover {
                content: url("https://cdn-icons-png.flaticon.com/512/2306/2306022.png");
            }
            &--6:hover {
                content: url("https://cdn-icons-png.flaticon.com/512/2305/2305897.png");
            }
        }

        & img {
            width: 200px;
            height: 200px;

            @include mixins.tablet-landscape {
                width: 150px; 
                height: 150px;
            }

            @include mixins.tablet {
                width:  120px; 
                height: 120px;
            }
            @include mixins.phones {
                width:  50px; 
                height: 50px;
            }
        }
    }
}

.footer {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 2px  rgb(179, 179, 179); 
    &__container {
        @include mixins.standard-layout;
        @include mixins.standard-spacing;
        justify-content: space-around;

        @include mixins.monitors {
            width: 50vw;
        }

        @include mixins.laptop {
            width: 50vw;
        }

        @include mixins.tablet {
            flex-direction: column;
        }
        @include mixins.phones {
            flex-direction: column;
        }

        &__item {
            color: black;
            text-decoration: none;
            @include mixins.standard-layout;
            flex-direction: column;

            padding:10px;
            &-1 {
                width: 50px;
                height: 50px;

                @include mixins.tablet {
                    width: 30px;
                    height: 30px;
                }
                @include mixins.phones {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
 

    



  